.contents{
    margin-top:2em;
    border: none;
}
.more-button{
    background-color: white;
    border: none;
    color: red;
    outline: none;
}

#more {
    display: none;
}
*:focus {
    outline: 0 !important;
}
.answer{
    margin-left: 1em;
    color:red;
}